.NavBar-Logo{
    width: 200px;
    height: auto;
    fill: #000000;
    margin-bottom: 2px;
}


.NavBar-cart img{
    width: 17px;
    text-align: center;
    margin: 0 20px;
    vertical-align: 5px;
    cursor: pointer;
}

.menu-nav{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.shadow{
    order: 1px solid;
  padding: 10px;
  box-shadow: 0 10px #888888;
}


.navStyles{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

.navStyles:hover{
    color:#000000;
}